{% from 'modules/qiniu/list.html' import uploaded_items %}

{%- macro custom_fields(fields) -%}
  {% for k, v in fields.items() %}
    <input name="x:{{ k }} " type="hidden" value="{{ v }}">
  {% endfor %}
{%- endmacro -%}


{%- macro upload_form_tag(form) -%}
  <form class="attachment-form qiniu-upload" method="post" action="/api/qiniu/upload/" enctype="multipart/form-data">
    {{ caller () }}
  </form>
{%- endmacro -%}

{%- macro fileupload_js() -%}
  <script type="text/javascript" src="{{ static('js/lib/jquery.fileupload.js') }}"></script>
  <script type="text/javascript">
    $('.qiniu-upload').fileupload({
      dataType: 'json',
      done: function(e, data) {
      }
    });
  </script>
{%- endmacro -%}


{%- macro attachment_form(model) -%}
  {% call upload_form_tag() %}
    {{ uploaded_items(model.attachment_items) }}
    {{ custom_fields({ 'owner_id': model.id, 'owner_kind': model.kind }) }}
    {{ upload_buttons() }}
  {% endcall %}
{%- endmacro -%}

{%- macro form_fields(form) -%}
    {{ custom_fields(form.extra) }}
{%- endmacro -%}


{%- macro upload_buttons() -%}
<div class="control-group">
  <!-- The fileinput-button span is used to style the file input field as button -->
  <span class="btn btn-success fileinput-button">
    <i class="icon-plus icon-white"></i>
    <span>{{ _('Add files...') }}</span>
    <input type="file" name="files[]" multiple>
  </span>
  <button type="submit" class="btn btn-primary start">
    <i class="icon-upload icon-white"></i>
    <span>{{ _('Start upload') }}</span>
  </button>
  <button type="reset" class="btn btn-warning cancel">
    <i class="icon-ban-circle icon-white"></i>
    <span>{{ _('Cancel upload') }}</span>
  </button>
  <button type="button" class="btn btn-danger delete">
    <i class="icon-trash icon-white"></i>
    <span>{{ _('Delete') }}</span>
  </button>
  <input type="checkbox" class="toggle">
  <!-- The loading indicator is shown during file processing -->
  <span class="fileupload-loading"></span>
</div>
{%- endmacro -%}


