{% from 'modules/qiniu/list.html' import uploaded_item %}


{%- macro uploader_inline(model) -%}
<div class="form-group inline-uploader"
  data-owner_id="{{ model.id }}"
  data-owner_kind="{{ model.kind }}"
  data-uploaded="{{ jsonify(model.attachments_info()) }}"
>
    <div class="col-lg-2 control-label">
      {{ _('Attachments') }}
    </div>
    <div class="col-lg-10">
      <div class="uploaded"></div>
      <div class="progressall progress progress-striped active hidden">
        <div class="progress-bar progressbar-success"></div>
      </div>
      <span class="btn btn-default fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span>{{ _('Add files...') }}</span>
        <input name="file" type="file" multiple accept="image/*,video/*,audio/*" />
      </span>
    </div>
  </div>
{%- endmacro -%}


{%- macro uploaded_item_js_template() -%}
  <script type="text/template" id="tmpl-uploaded-item">
    <div class="row uploaded-item" data-id="<%= id %>">
      <% if (typeof failure != 'undefined') { %>
        <div class="col col-12 col-lg-12">
          <div class="alert alert-danger">
          <a href="#" data-dismiss="alert" class="close">&times;</a>
          上传<strong><%= filename %></strong>失败
          </div>
        </div>
      <% } else { %>
        <div class="col col-4 col-lg-3">
          <div class="thumb">
            <a href="<%= raw_url %>" target="_blank">
              <img class="img-thumbnail" src="<%= thumb_url %>" alt="" />
            </a>
          </div>
        </div>
        <div class="col col-8 col-lg-9">
          <div class="detail">
            <a href="#" class="close remove-item">&times;</a>
            <div class="title">
              <input name="a-title" type="text" class="form-control"
              placeholder="{{ _('attachment title') }}" value="<%= title %>" />
              <span class="label label-success saved">
                <span class="icon-ok"></span> 已保存
              </span>
            </div>
            <div class="desc">
              <textarea class="form-control" name="a-desc" rows="4"
                cols="30" placeholder="{{ _('attachment description') }}"><%= desc %></textarea>
              <span class="label label-success saved">
                <span class="icon-ok"></span> 已保存
              </span>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </script>
{%- endmacro -%}



{%- macro uploader_inline_js() -%}
  {{ uploaded_item_js_template() }}
  <script type="text/javascript">
    Do.urls({{ urlmap('lib/jquery.fileupload', 'modules/qiniu/inline')|json|safe }})
    Do('lodash', 'lib/jquery.fileupload', 'modules/qiniu/inline', function() {
      var qiniu_inline = require('modules/qiniu/inline');
      qiniu_inline($('.inline-uploader'));
    });
  </script>
{%- endmacro -%}

