.attachment-form {
  margin: 40px 0;
}

#main > .nav-tabs {
  margin-bottom: 40px;
}
form.icon {
  display: inline-block;
}
.icon button {
  border: none;
  background: none;
}
.select2-container { 
  padding: 0;
  border: 0;
}
.col-lg-10 {
  position: static;
}
.datepicker {
  box-sizing: content-box;
}

