.sns-icon
  hidetext()
  background: url('../img/sns.png') no-repeat 0 0;
  background-image: embedurl('../img/sns.png')
  height 32px
  &:hover
    background-color: transparent
.sns-weibo
  width 34px
  background-position -3px -3px
.sns-baidu
  width 24px
  background-position -47px -3px
.sns-renren
  width 41px
  background-position -80px -3px
.sns-kaixin
  width 31px
  background-position -125px -3px
.sns-facebook
  width 29px
  background-position -161px -3px
.sns-imdb
  width 27px
  background-position -199px -3px

.header-sns
  float right
  margin-top: -40px


html
  height: 100%

.bg-logo
  position fixed
  display: block
  z-index -1
  left 20px
  top 30px
  img
    img-responsive()
  &:hover
    background: none


.body-bg
  z-index: -1
  position: fixed
  top: 0
  left 0
  width: 100%
  height: 120%
  background: #fbfbfb url(../img/bg-main.jpg) no-repeat 50% 0 fixed
  background-size(cover)
  -ms-behavior: url('./backgroundsize.min.htc');



.home-carousel
  .carousel-control
    width: 40px
  .carousel-inner
    min-height: 160px
  .carousel-caption
    font-family: font_sans_serif
    font-size: 18px
    text-align: left
    background: rgba(color_primary, 0.6)
    //background: linear-gradient(left, rgba(color_primary, 0.6) 1em, rgba(color_primary, 0.05))
    margin-right: 40px
    left: 40px
    right: auto
    bottom: auto
    top: 0
    padding: 0.5em 2em
    max-width: 18em
    text-shadow: 0 2px 0 rgba(0,0,0,0.7)
