.sns-icon
  hidetext()
  background: url('../img/sns.png') no-repeat 0 0;
  background-image: embedurl('../img/sns.png')
  height 32px
  &:hover
    background-color: transparent
.sns-weibo
  width 34px
  background-position -3px -3px
.sns-baidu
  width 24px
  background-position -47px -3px
.sns-renren
  width 41px
  background-position -80px -3px
.sns-kaixin
  width 31px
  background-position -125px -3px
.sns-facebook
  width 29px
  background-position -161px -3px
.sns-imdb
  width 27px
  background-position -199px -3px

.header-sns
  float right
  margin-top: -40px

.bg-logo
  position absolute
  z-index -1
  right 30px
  top 20px
