
.img-responsive
  max-width: 100%
  height: auto

@media below_md
  .sinked
    margin-top: 160px
  .container
    min-height: 0

@media below_sm
  .sinked
    margin-top: 60px
  #footer
    bottom: 0
    .pure-menu
      margin-right: 0
    .copyright
      display: block
      margin-top: 5px

@media below_sm
  .header-nav .pure-menu.pure-menu-open li
    width: 100px
  .mod .news-list
    margin-left: 15px
