
.img-responsive
  max-width: 100%
  height: auto

@media (max-width: 1400px)
  .container
    margin-right: 200px
@media (max-width: 1280px)
  .container
    margin-right: 160px
  .bg-logo
    width: 100px

@media below_md
  .sinked
    margin-top: 200px
  .container
    min-height: 0

@media below_sm
  .container
    margin-right: 0
  .header-nav
    margin-right: 170px
  .hidden-sm
    display: none
  .sinked
    margin-top: 100px
  #footer
    bottom: 0
    .pure-menu
      margin-right: 0
    .copyright
      display: block
      margin-top: 5px
  .header-nav .pure-menu.pure-menu-open > li
    width: 94px
  .mod .news-list
    margin-left: 15px
  .header-brand .logo
    width: 150px
    margin-left: 10px
  .home-carousel .carousel-inner
    height: auto

@media (max-width: 580px)
  .header-nav
    margin-right: 0
  .header-sns
    display: none

@media below_xs
  .bg-logo
    right: 10px
  .hidden-xs
    display: none
  .news-list .pic img
    width: 75px
    height: 75px
  .news-list .detail
    margin-left: 90px
    font-size: 14px
    p
      font-size: 13px
  .paginator
    font-size: 0
    a, span, strong
      font-size: 14px

@media only screen and (orientation: portrait) and (device-width: 320px), (device-width: 768px) {
  .body-bg {
    background-size: 200% auto;
  }
}
 
@media only screen and (orientation: landscape) and (device-width: 320px), (device-width: 768px) {
  .body-bg {
    background-size: 120% auto;
  }
}
