Flask==0.10.1
Flask-Security==1.6.8
Flask-SQLAlchemy==1.0
MarkupSafe==0.18
Werkzeug==0.9.3
redis==2.7.4
raven==3.4.1
Babel
Jinja2
Flask-WTF==0.8.0
Flask-Babel
Flask-Gravatar
Flask-Login
Flask-Principal
Flask-Mail
Flask-Testing
Flask-Cache
Flask-DebugToolbar
##https://github.com/mrjoes/flask-admin/tarball/master
##https://github.com/mrjoes/flask-babelex/tarball/master
WTForms
passlib
itsdangerous
