{%- macro piced_list(items, cls='', item_cls='') -%}
{% if items %}
<ul class="{{ cls }}">
  {% for item in items %}
  <li class="{{ item_cls }}">
    <a class="pic" href="{{ item.url() }}"">
      <img src="{{ item.picture_url() }}" alt="" />
    </a>
    <h3><a href="{{ item.url() }}">{{ item.title }}</a></h3>
    <p class="summary">
      {{ item.abstract() }}
    </p>
  </li>
  {% endfor %}
</ul>
{% else %}
  <p class="no-result">
  暂时没有内容
  </p>
{% endif %}
{%- endmacro -%}

{%- macro pagination(start, limit, total) -%}
{%- endmacro -%}

