{%- macro piced_list(items, cls='', item_cls='', pic_cat='sqr100') -%}
{% if items %}
<ul class="{{ cls }}">
  {% for item in items %}
  <li class="{{ item_cls }}">
    <a class="pic" href="{{ item.url() }}"">
      <img src="{{ item.picture_url(pic_cat) }}" alt="" />
    </a>
    <div class="detail">
      <h3><a href="{{ item.url() }}">{{ item.title }}</a></h3>
      <p class="summary">
        {{ item.abstract() }}
      </p>
      <p class="meta">
      发表于 {{ item.create_at }}
      </p>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
  <p class="no-result">
  暂时没有内容
  </p>
{% endif %}
{%- endmacro -%}


{% macro render_pagination(pagination, endpoint) %}
<div class="paginator">
  {% if pagination.has_next %}
  <a href="{{ url_for(endpoint, page=pagination.next_num) }}">Next <span class="more">&gt;&gt;</span></a>
  {% endif %}
  {%- for page in pagination.iter_pages() %}
  {% if page %}
    {% if page != pagination.page %}
      <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
    {% else %}
      <strong class="active">{{ page }}</strong>
    {% endif %}
  {% else %}
    <span class=ellipsis>…</span>
  {% endif %}
  {%- endfor %}
</div>
{% endmacro %}
