color_alert = #c09853
color_danger = #b94a48
color_primary = #1192dd
bg_color = #000
text_color = #fff
link_color = #1192dd
active_color = link_color

light_bg_color = rgba(255,255,255,0.7)
light_color = #999
mod_padding = 15px

font_serif = 'times new roman',times,serif
