global-max-width = 950px

color_alert = #c09853
color_danger = #b94a48
color_primary = #1192dd
bg_color = #000
text_color = #fff
link_color = #1192dd
active_color = link_color

light_bg_color = rgba(255,255,255,0.7)
light_color = #999
mod_padding = 12px
mod_margin = 20px

sinked_width = 610px

font_serif = 'times new roman',times,serif
font_sans_serif = verdana,heiti,'微软雅黑',sans-serif


screen-phone = screen-xs = 480px
screen-tablet = screen-sm = 768px
screen-desktop = screen-md = 992px
below_md = '(max-width: ' + screen-md + ')'
below_sm = '(max-width: ' + screen-sm + ')'
below_xs = '(max-width: ' + screen-xs + ')'
above_md = '(min-width: ' + screen-md + ')'
above_sm = '(min-width: ' + screen-sm + ')'
above_xs = '(min-width: ' + screen-xs + ')'

hidetext()
  display: inline-block
  line-height: 99999em
  overflow: hidden

imgtext(imgurl, width, height)
  hidetext()
  background: url(imgurl) no-repeat 50% 50%
  background-image: embedurl(imgurl);
  height: height
  width: width
