body
  font-size: 15px;

.container
  max-width: 1040px 
  margin: 20px auto;

.pure-menu.pure-menu-open
  background: bg_color;
  margin: 0;
  li
    border-right: 1px dotted #eee;
    padding-right: 5px;
    background: bg_color;
    a
      color: text_color;
      padding: 3px 25px;
      line-height: 1;
    a:hover, a:active,
    &.pure-menu-selected a
      background: active_color
      color: #222;
  li:last-child
    border-right: 0;

.header-nav
  background: bg_color;
  padding: 6px 10px;
  margin: 20px 0 30px;
  font-size: 17px;

#footer
  background: bg_color;
  text-align: center;
  font-size: 13px;
  padding: 5px;
  color: text_color;
  .pure-menu
    display: inline;
    margin-right: 60px;
    li
      border-right: 1px solid #ddd;
    li:last-child
      border-right: 0;
    a
      padding: 0 10px;
    a:hover, a:active
      background: #eee;
  .copyright
    font-size: 12px;
    line-height: 18px;



.mod
  background: bg_color
  color: text_color
  padding: 15px
  font-family: font_serif;
  h2
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    margin: 0 0 20px;
    padding: 5px 5px 6px;
    border-bottom: 1px solid color_primary;
.sinked
  margin: 100px 0 20px auto;
  max-width: 600px;
