.container
  min-height: 90%
  max-width: global-max-width
  margin: 0 auto
  position: relative
  //box-sizing(border-box)

.affix-top
  position: absolute
  z-index: 1

.affix
  position: fixed
  top: 0
  z-index: 1


.header-brand
  padding: 20px 0 5px
  display: none
  .logo
    //background-position: 0 50%

.header-nav
  background: bg_color
  background-image: linear-gradient(#111, #000)
  margin: 60px 0 40px 0
  .pure-menu.pure-menu-open
    width: auto
    padding: 8px
    padding-bottom: 7px
  .pure-menu.pure-menu-open li
    border-right-style: dotted
    border-right-color: #eee 
    margin-bottom: 1px
  .pure-menu.pure-menu-open li li
    margin-bottom: 0

#footer
  background: bg_color
  text-align: center
  width: 100%
  font-size: 12px
  padding-top: 5px
  padding-bottom: 5px
  margin-top: 40px;
  color: text_color
  .pure-menu
    display: inline
    margin-right: 60px
    li
      font-size: 12px
    li:last-child
      border-right: 0
    a
      padding: 0 10px
    a:hover, a:active
      background: #eee

.footer-right
  line-height: 18px
  float: right
  padding-right: 10px
  .links
    color: #ccc
    a
      display: inline-block
      line-height: 1.2em
      margin: 0 3px

.footer-more
  font-size: 12px;
  margin: 15px 0 30px;
  text-align: center;


#main
  min-height: 200px
  margin-bottom: 20px

.article
  padding-right: 30px;

.mod
  background: bg_color
  color: text_color
  padding: mod_padding
  font-family: font_serif
  margin-bottom: mod_margin
  h2
    font-size: 17px
    font-weight: normal
    margin: 0 0 20px
    padding: 5px 5px 6px
    border-bottom: 1px solid color_primary

.light-mod
  background: light_bg_color
  padding: mod_padding

.sinked
  margin-left: auto;
  margin-right: 0;
  margin-top: 300px;
  max-width: sinked_width

.sinked .hd
  text-align: right
  .pure-menu-open
    width: auto
    float: left


.no-result
  padding: 40px
  color: light_color
  font-style: italic


.branding-pic
  margin-bottom: 20px
  img
    width: 100%


.short
  line-height: 1.7
  font-size: 16px
  padding: 20px 15px

.carousel img
  margin-left: auto
  margin-right: auto
