html, body
  height: 100%

body
  //background: #fbfbfb url(../img/bg-main.jpg) no-repeat 50% 0
  background-size(cover)

.container
  min-height: 90%
  max-width: global-max-width
  margin: 0 auto
  position: relative
  padding-bottom: 70px
  //box-sizing(border-box)

.affix-top
  position: absolute

.affix
  position: fixed
  top: 0
  z-index: 1

#footer
  background: bg_color
  text-align: center
  position: absolute
  bottom: 40px
  width: 100%
  font-size: 12px
  padding: 5px
  color: text_color
  .pure-menu
    display: inline
    margin-right: 60px
    li
      font-size: 12px
    li:last-child
      border-right: 0
    a
      padding: 0 10px
    a:hover, a:active
      background: #eee
  .copyright
    font-size: 12px
    line-height: 18px


#main
  min-height: 200px
  margin-bottom: 20px

.article
  padding-right: 30px;

.mod
  background: bg_color
  color: text_color
  padding: mod_padding
  font-family: font_serif
  h2
    font-size: 17px
    font-weight: normal
    margin: 0 0 20px
    padding: 5px 5px 6px
    border-bottom: 1px solid color_primary

.light-mod
  background: light_bg_color
  padding: mod_padding

.sinked
  margin: 220px 0 20px auto
  max-width: 610px

.sinked .hd
  text-align: right
  .pure-menu-open
    width: auto
    float: left


.no-result
  padding: 40px
  color: light_color
  font-style: italic


.branding-pic
  margin-bottom: 20px
  img
    width: 100%


.short
  line-height: 1.7
  font-size: 16px
  padding: 20px 15px

.readable
  font-size: 16px
  line-height: 1.7
  p
    margin-bottom: 1em
