body
  line-height: 1.52
  font-size: 15px

h1, h2, h3, h4, h5
  line-height: 1.35

h1
  border-bottom: 1px solid color_primary
  padding-bottom: 1em
  margin-bottom: 1.5em

ul
  padding-left: 0
  margin-left: 2em

p
  margin: 0.5em 0;

a
  color: link_color
  text-decoration: none;

a:hover
  background: link_color
  color: #000

.pull-right
  float: right
.pull-left
  float: left


.table
  background: #fff;



.pure-form
  input[type=text], 
  input[type=password], 
  input[type=email], 
  input[type=url], 
  input[type=date], 
  input[type=month], 
  input[type=time], 
  input[type=datetime], 
  input[type=datetime-local], 
  input[type=week], 
  input[type=number], 
  input[type=search], 
  input[type=tel], 
  input[type=color], 
  select, 
  textarea
    border-radius(0)
    box-shadow(none)

.pure-control-group .pure-controls
  margin-top: 0.5em
  margin-bottom: 1em

