ul
  padding-left: 0

p
  margin: 0.5em 0;

a
  color: link_color

.pull-right
  float: right
.pull-left
  float: left


.mod
  background: bg_color
  color: text_color
  padding: 8px
.sinked
  margin-top: 100px
