{% macro render_field_with_errors(field) %}
  <div class="pure-control-group">
    {{ field | set_trans }}
    {{ field.label }}
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
    <div class="pure-controls">
      <div class="alert alert-small alert-danger">
        {% for error in field.errors %}
          <p>{{ _(error) }}</p>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_field(field, class='') %}
  {{ field | set_trans }}
  <p>{{ field(class=class, **kwargs)|safe }}</p>
{% endmacro %}
