{% extends 'admin/layout.asided.html' %}
{% import 'admin/lib.html' as lib with context %}

{% macro extra() %}
  <input name="_add_another" type="submit" class="btn btn-large" value="{{ _a('Save and Add') }}" />
{% endmacro %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('admin.static', filename='select2/select2.css') }}" rel="stylesheet">
    <link href="{{ url_for('admin.static', filename='datetimepicker/bootstrap-datetimepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block navtabs %}
  <ul class="nav nav-tabs">
      <li>
          <a href="{{ return_url }}">{{ _a('List') }}</a>
      </li>
      <li class="active">
          <a href="javascript:void(0)">{{ _a('Create') }}</a>
      </li>
	</ul>
{% endblock %}


{% block article %}
  {% call lib.form_tag(form) %}
      {{ lib.render_form_fields(form, form_opts=form_opts, form_rules=form_rules) }}
      {% if admin_view.has_attachments() %}
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-10">
          <div class="alert alert-info">
            {{ _('Add attachments after created.') }}
          </div>
        </div>
      </div>
      {% endif %}
      {{ lib.render_form_buttons(return_url, extra()) }}
  {% endcall %}
{% endblock %}

{% block tail %}
  {{ super() }}
  {% if admin_view.richtext_columns %}
    <script type="text/javascript">
      Do("{{ static('deps/ckeditor/ckeditor.js') }}", "{{ static('js/lib/ckeditor.jquery.js') }}", function() {
          var fields = {{ admin_view.richtext_columns|json|safe }};
          $('textarea').filter(function() {
            return fields.indexOf(this.name) != -1;
          }).ckeditor();
      });
    </script>
  {% endif %}
{% endblock %}
