{% extends 'admin/model/create.html' %}
{% import 'admin/lib.html' as lib with context %}
{% import 'modules/qiniu/inline.html' as qiniu with context %}

{% macro extra() %}
  <input name="_continue_editing" type="submit" class="btn btn-large" value="{{ _a('Save and Continue') }}" />
{% endmacro %}

{% block article %}
    {% call lib.form_tag(form) %}
        {{ lib.render_form_fields(form, widget_args=form_widget_args) }}
        {% if admin_view.has_attachments() %}
          {{ qiniu.uploader_inline(model) }}
        {% endif %}
        {{ lib.render_form_buttons(return_url, extra()) }}
    {% endcall %}
    {% if admin_view.has_attachments() %}
      {{ qiniu.uploader_inline_js() }}
    {% endif %}
{% endblock %}
