{% extends 'modules/works/movie/index.html' %}
{% from 'widgets/carousel.html' import render_carousel %}
{% from 'modules/works/widgets/media.html' import video_player %}

{% block title %}
{{ work.title }} - {{ artist.name }}电影作品
{% endblock %}


{% block article_content %}
{% if carousel_items %}
  <div class="work-carousel">
    {{ render_carousel(carousel_items, show_indicators=True) }}
  </div>
{% endif %}
<div class="work-detail">
  {{ work.desc|safe }}
</div>
{% endblock %}


{% block article_extra %}
  {%- for v in videos -%}
    <div class="mod">
      <h2>
        {{ v.title or '视频' }}
      </h2>
      {{ video_player(v, '100%', 'auto') }}
    </div>
  {%- endfor -%}
{% endblock %}



