{% extends 'base.html' %}


{%- macro js_template()  -%}
<script type="text/template" id="tmpl-photos">
  <% if (items.length) { %>
  <% _.each(items, function(item, i){ %>
    <div class="mod">
      <h2><%= item.title %></h2>
      <a target="_blank" href="<%= item.url %>">
        <img src="<%= item.median_url %>" alt="" />
      </a>
      <p class="desc">
        <%= item.abstract %>
        &nbsp;
        <a href="<%= item.url %>" target="_blank">详细 &raquo;</a>
      </p>
    </div>
  <% }); %>
  <% } else { %>
  <div class="mod">
    <p class="no-result">暂时没有内容</p>
  </div>
  <% } %>
</script>
{%- endmacro -%}


{% block main %}
<div class="photos-grid">
</div>
{{ js_template() }}
<script type="text/javascript">
  Do.urls({{ urlmap('modules/gallery/photos')|json|safe }})
  Do('lodash', 'modules/gallery/photos', function(){
    var photos = require('modules/gallery/photos');
    photos('.photos-grid', {{ data|json|safe }});
  });
</script>
{% endblock %}


