.news-list
  list-style: none
  li
    overflow: hidden
    margin-bottom: 20px
    padding-bottom: 20px
    border-bottom: 1px solid color_primary
  h3
    margin: 0
    text-transform: capitalize
  .pic
    float: left
    margin-right: 10px
    margin-top: 4px
    line-height: 0
  .detail
    margin-left: 120px
  .meta
    color: #666
    font-size: 12px

.mod .news-list
  margin: 25px 15px 40px 25px


.news-article
  h1 small
    font-size: 0.7em
    color: #999
    margin-left: 0.5em
