.filter-by-year
  height: 45px
  margin: 0 15px
  font-size: 16px
  .pure-menu
    padding: 10px 0
    background: rgba(bg_color, 0.5)


.inline-list
  font-size: 0
  li
    display: inline-block
    font-size: 15px
    vertical-align: top

.poster-list
  @extend .inline-list
  li
    margin: 20px
    width: 85px
    height: 130px
    opacity: 0.6
  li:hover, li.active
    opacity(1)
  img
    max-width: 85px
  a:hover
    background: none


.carousel
  .icon-angle-left, .icon-angle-right
    font-size: 70px
    height: 70px
    margin-top: -35px
    transform(scaleX(0.6))

.work-carousel
  padding-bottom: 15px
  border-bottom: 1px solid color_primary
  margin-bottom: 15px
  margin-top: -5px
  text-align: center
  .carousel
    min-height: 200px

.work-detail
  font-size: 13px
  line-height: 1.6
