.carousel
  .icon-angle-left, .icon-angle-right
    height: 46px
    width: 18px
    &:before
      content: ''
    background: url('../img/carousel-controls.png') no-repeat 0 50%;
    background-image: embedurl('../img/carousel-controls.png');
  .icon-angle-right
    background-position: 100% 50%;

.modal
  .carousel-inner
    margin-left: 100px
    margin-right: 100px
    width: auto
    min-height: 400px
  .carousel-control
    opacity(.8)
    &.left, &.right
      background-image: none
    &:hover
      background: none
  .icon-angle-left, .icon-angle-right
    background-image: url('../img/carousel-controls-black.png')
    background-image: embedurl('../img/carousel-controls-black.png')





.filter-by-year
  height: 45px
  margin: 0 15px
  font-size: 16px
  .pure-menu
    padding: 10px 0
    background: rgba(bg_color, 0.5)
    .active a
      color: #fff

.year-anchor
  position: absolute
  margin-top: -50px

.work-carousel
  padding-bottom: 15px
  border-bottom: 1px solid color_primary
  margin-bottom: 15px
  margin-top: -5px
  .carousel
    min-height: 200px

.work-detail
  font-size: 13px
  line-height: 1.6
