{% from "widgets/menu.html" import hmenu %}
<div id="footer">
  {{ hmenu(footer_menu, show_active=False) }}
  <span class="footer-right">
    佟大为在：
    <span class="links">
      <a href="wechat://tongdawei">微信</a> /
      <a target="_blank" href="http://weibo.com/tongdawei" >微博</a> /
      <a target="_blank" href="http://tieba.baidu.com/f?ie=utf-8&kw=%E4%BD%9F%E5%A4%A7%E4%B8%BA">贴吧</a> /
      <a target="_blank" href="https://www.facebook.com/tongdawei">Facebook</a> /
      <a target="_blank" href="http://www.imdb.com/name/nm1291827/">IMDB</a>
    </span>
  </span>
</div>
<div class="footer-more">
  &copy;2013 Copyright Tong Dawei Studio, all rights reserved.
</div>
