{% from "widgets/menu.html" import hmenu %}
<div id="header">
  <div class="header-brand">
    <a class="logo" href="{{ config['SITE_ROOT'] }}">{{ config['SITE_NAME'] }}</a>
  </div>
  <div class="header-nav">
    <div class="header-sns">
      <a target="_blank" href="http://weibo.com/tongdawei" class="sns-icon sns-weibo">微博</a>
      <a target="_blank" href="http://tieba.baidu.com/f?ie=utf-8&kw=%E4%BD%9F%E5%A4%A7%E4%B8%BA" class="sns-icon sns-baidu">贴吧</a>
      <!--<a target="_blank" href="" class="sns-icon sns-baidu">人人网</a>-->
      <!--<a target="_blank" href="" class="sns-icon sns-kaixin">开心网</a>-->
      <a target="_blank" href="https://www.facebook.com/tongdawei" class="sns-icon sns-facebook">Facebook</a>
      <a target="_blank" href="http://www.imdb.com/name/nm1291827/" class="sns-icon sns-imdb">IMDB</a>
    </div>
    {{ hmenu(header_menu) }}
  </div>
</div>
