.close, a.close
  &:hover
    color: #333
  background: none
  border: 0
  font-weight: 100
  color: #555
  font-family: simsun
  line-height: 1


.modal .close
  font-size: 60px
  position: absolute
  right: 15px
  top: 15px

.modal, .modal-dialog
  min-height: 100%

.modal-dialog
  padding: 0

.modal-content
  padding-top: 90px


.modal-dialog
  max-width: global-max-width + 40px

