bg_active_menu = #fff
active_menu_link_color = #333

.pure-menu.pure-menu-open
  background: none
  margin: 0
  font-size: 0
  li
    font-size: 18px
    border-right: 1px solid #999
    padding: 0 1px
    background: none
  li:last-child
    border-right: 0
  a
    color: text_color
    padding: 3px 26px
    min-width: 2em
    text-align: center
    line-height: 1
  a:hover, a:active,
  > li.selected > a
    background: active_color
    color: #111

.pure-menu .has-submenu
  a
    padding-right: 22px
.has-submenu
  position: relative
  .tri-down
    border-top-color: color_primary
  a:hover .tri-down
    border-top-color: darken(color_primary, 10%)
  .submenu
    top: 26px
    left: 1px
    right: 1px
    visibility: visible
    display: none
    box-shadow(0 2px 2px rgba(0,0,0,.3))
    li
      background: bg_active_menu
      padding-top: 2px
    a
      padding: 4px 20px
      color: active_menu_link_color

.has-submenu.active
  a
    color: active_menu_link_color
    background: bg_active_menu
  .submenu
    display: block




.pure-menu.shrinked
  margin: 0
  li
    padding-right: 15px
    margin-right: 15px
    padding-top: 0
    padding-bottom: 0
  a
    line-height: 1;
    padding: 3px 5px

.pure-menu.slim
  @extend .pure-menu.shrinked
  li
    margin-right: 0
  a
    color: color_primary
  a:hover, .active a
    color: #111
    background-color: color_primary


.filter
  z-index: 10
  position: relative
  .pure-menu li
    font-size: 14px
    a
      padding: 5px 10px
  .submenu
    top: 25px

.hd .filter
  padding-top: 4px
  float: right
