.more
  font-family: simsun
  display: inline-block
  margin-left: 0.3em
  font-size: 0.9em

.paginator
  text-align: right
  margin: 40px 20px
  font-size: 16px
  a, .active
    color: text_color
    display: inline-block;
    padding: 2px 5px
    min-width: 1em
    text-align: center
  a:hover
    color: bg_color
  .active
    color: color_primary
