.readable
  font-size: 16px
  line-height: 1.7
  p
    margin-bottom: 1em
  .pic
    margin: 0 auto 30px
    .desc
      color: #666
      font-size: 14px
    .title
      font-weight: 800
    img
      background: #f0f0f0



