.tri-down, .tri-up, .tri-left, .tri-right {
  display: inline-block;
  height: 0;
  width: 0;
  line-height: 0;
  font-size: 0;
  vertical-align: middle;
  border: 4px dashed transparent;
}
.tri-down {
  border-top: 4px solid #ccc;
  border-bottom: 0 !important;
}
.tri-up {
  border-bottom: 4px solid #ccc;
  border-top: 0 !important;
}
.tri-right {
  border-left: 4px solid #ccc;
  border-right: 0 !important;
}
.tri-left {
  border-right: 4px solid #ccc;
  border-left: 0 !important;
}
