<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}
    {{ title or config.SITE_NAME }}
    {% endblock %}
  </title>
  {% block head_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock %}
  {% block head_css %}
    <link media="all" rel="stylesheet" href="{{ static("css/base.css") }}" type="text/css" />
  {% endblock %}
  {% block head %}
    <script src="{{ static('js/do.js') }}" data-cfg-corelib="main" type="text/javascript"></script>
    <script type="text/javascript">
      Do.urls({{ urlmap('lodash', 'main') |json|safe }});
    </script>
  {% endblock %}
  {% block head_tail %}
  {% endblock %}
</head>
<body>
  {% block body_head %}
  {% endblock %}
  <div class="container">
    {% block page_head %}
      <img class="bg-logo" src="{{ static('img/tong-logo.png') }}" alt="" />
    {% endblock %}
    {% block page_body %}
      {% block header %}
        {% include "common/header.html" %}
      {% endblock %}
      <div id="main">
        {% block main %}
          <div class="sinked">
            {% block main_content %}
            {% endblock %}
          </div>
        {% endblock %}
      </div>
      {% block footer %}
        {% include "common/footer.html" %}
      {% endblock %}
    {% endblock %}
    {% block page_tail %}
    {% endblock %}
  </div>
  {% block tail %}
  {% endblock %}
</body>
</html>
