{% extends 'base.html' %}
{% import 'widgets/carousel.html' as carousel %}


{% block main_content %}
<div class="mod">
  <h2>Magazine</h2>
  <div id="magazine-showcase" class="magazine-carousel">
    {{ carousel.render_carousel(carousel_items, 'carousel-photos', show_indicators=False) }}
  </div>
  <div id="magazine-list" class="magazine-switcher">
  </div>
  {{ carousel.carousel_js_template() }}
  {{ switcher_js_temlate() }}
</div>
<script type="text/javascript">
  Do.urls({{ urlmap('modules/gallery/magazine')|json|safe }})
  Do('lodash', 'modules/gallery/magazine', function(){
    var magazine = require('modules/gallery/magazine');
    magazine('#magazine-list', '#magazine-showcase', {{ data|json|safe }});
  });
</script>
{% endblock %}


{%- macro switcher_js_temlate() -%}
<script id="tmpl-switcher" type="text/tmpl">
  <ul class="inline-list switch-list">
    <% _.each(items, function(item, i) { %>
      <li class="switch-item" data-id="<%= item.id %>" data-index="<%= i %>">
        <a href="<%= item.url %>">
          <img src="<%= item.thumb_url %>" alt="<%= item.title %>" />
        </a>
      </li>
    <% }); %>
  </ul>
</script>
{%- endmacro -%}



